.submenuStyles{
    color: #25396f;
    display: block;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.7rem 2rem;
    transition: all .3s;
    list-style: none;
}